{
  "assignableRoles": [
    {
      "name": "rolename",
      "id": "700001111222233334"
    }
  ],
  "discordConfig": {
    "token": "",
    "prefix": ""
  },
  "twitchNotificationConfig": {
    "discordRoleId": "",
    "discordChannelId": "",
    "twitchChannelId": "",
    "twitchClientId": "",
    "twitchClientSecret": ""
  },
  "autorole": ["700001111222233334"]
}
